.listing-and-rental{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.surfboard-listing{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-left: 10px;
}
.surfboard-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.surfboard-size{
    font-size: 18px;
    color: black;
    margin: 0;
    padding: 0;
    align-self: flex-end;
}
.surfboard-location{
    font-size: 30px;
    font-family: sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}
.surfboard-img{
    background-color: #FFFDFA;
    padding: 10px;
    border-radius: 10px;
    height: 80vh;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.surfboard-img > img{
    width: 100%;
    height: 100%;
}
.surfboard-img > i{
    color: black;
}
.no-image-container{
    height: 100%;
    width: 100%;
    background-image: url('https://hi-surf-dev.s3.us-west-1.amazonaws.com/no-image.jpg');
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.no-image-container > p{
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: #FFFDFA;
}
.no-image-container > i{
    color: #FFFDFA;
}
.rental-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 300px;
    margin: 200px 0 0 50px;
    overflow-y: scroll;
}
.rental-box::-webkit-scrollbar {
    display: none;
}
.surfboard-description{
    font-family: monospace;
    font-size: 20px;
    margin-bottom: 20px;
}
.rentals-header{
    font-family: sans-serif;
    font-size: 16px;
    color: #657394;
}
.mod-listing-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 7px;
}
.mod-rental-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 7px;
    visibility: hidden;
}
.individual-date:hover .mod-rental-button{
    visibility: visible;
}
.mod-rental-button-persist{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 7px;
    color: white;
}
.modifications{
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: flex-start;
}
.edit-listing, .delete-listing{
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
    padding: 5px;
    border: none;
}
.edit-listing{
    color: black;
    background-color: #FFFDFA;
    border-radius: 10px;
    transition-duration: .3s;
    transition-property: background-color, box-shadow, color;
}
.edit-listing:hover{
    background-color: black;
    box-shadow: 0px 1px 12px 0px rgba(255, 255, 255, 0.096);
    color: #657394;
}
.delete-listing{
    color: #FFFDFA;
    background-color: rgb(138, 54, 54);
    border-radius: 10px;
    transition-duration: .3s;
    transition-property: box-shadow, background-color;
}
.delete-listing:hover{
    box-shadow: 0 8px 15px rgba(253, 1, 1, 0.2);
    background-color: rgb(248, 68, 68);
}
.scheduled-rental{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.edit-rental, .delete-rental{
    visibility: hidden;
}
.edit-rental-visible, .delete-rental-visible{
    visibility: visible;
}
