.surfboard-listing{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    text-decoration: none;
    background-color: #FFFDFA;
    height: 200px;
}
.imgANDinfo{
    display: flex;
    flex-direction: row;
}
.surfboard-img{
    padding: 10px;
}
.surfboard-img > img{
    width: 100px;
    height: 100px;
}
.surfboard-img > i{
    color: black;
}
.surfboard-img > p{
    margin: 0;
    padding: 0;
    font-size: 12px;
    text-decoration: none;
    color: black;
}
.surfboard-location{
    font-size: 30px;
    font-family: sans-serif;
    color: black;
    margin-left: 20px;
}
.surfboard-size{
    font-size: 18px;
    color: black;
    margin-left: 20px;
}
.surfboard-description{
    margin-left: 20px;
    font-size: 16px;
    color: black;
}
.surfboard-info{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.mod-listing-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 7px;
}
.mod-rental-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 7px;
    visibility: hidden;
}
.individual-date:hover .mod-rental-button{
    visibility: visible;
}
.mod-rental-button-persist{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 7px;
    color: white;
}
.modifications{
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: flex-start;
}
.edit-listing, .delete-listing{
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
    padding: 5px;
    border: none;
}
.edit-listing{
    color: black;
    background-color: #FFFDFA;
    border-radius: 10px;
    transition-duration: .3s;
    transition-property: background-color, box-shadow, color;
}
.edit-listing:hover{
    background-color: black;
    box-shadow: 0px 1px 12px 0px rgba(255, 255, 255, 0.096);
    color: #657394;
}
.delete-listing{
    color: #FFFDFA;
    background-color: rgb(138, 54, 54);
    border-radius: 10px;
    transition-duration: .3s;
    transition-property: box-shadow, background-color;
}
.delete-listing:hover{
    box-shadow: 0 8px 15px rgba(253, 1, 1, 0.2);
    background-color: rgb(248, 68, 68);
}
.scheduled-rental{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.edit-rental, .delete-rental{
    visibility: hidden;
}
.edit-rental-visible, .delete-rental-visible{
    visibility: visible;
}
