.surfboard-form {
    background-color: #657394;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.required-tag{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.required-star{
    color: orange;
}
.surfboard-form select{
    width: 300px;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: monospace;
    font-size: 20px;
    border: none;
    color: #FFFDFA;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}
.surfboard-form textarea {
    width: 300px;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: #FFFDFA;
    font-size: 20px;
    resize: none;
    height: 200px;
    font-family: sans-serif;
}
.image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFFDFA;
    border-radius: 10px;
    padding: 5px;
}
.image-container > label, .image-container > div{
    font-family: sans-serif;
    color: #FFFDFA;
    font-size: 16px;
}
.existing-image-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFFDFA;
    border-radius: 10px;
    padding: 5px;
}
.existing-image-container > label, .existing-image-container > div{
    font-family: sans-serif;
    color: #FFFDFA;
    font-size: 16px;
}
.edit-listing-mod{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 10px;
}
.edit-listing-mod > img{
    height: 150px;
    width: 100px;
}
.remove-image-edit-form{
    background-color: red;
    color: #FFFDFA;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
}
.surfboard-button {
    font-size: 20px;
    width: 150px;
    color: #657394;
    background-color: #FFFDFA;
    border: 1px solid #FFFDFA;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    transition-duration: .3s;
    transition-property: color, background-color;
}
.surfboard-button:hover{
    background-color: blue;
    color: #FFFDFA;
}
.surfboard-button:active{
    background-color: #C5CEE0;
    border: 1px solid #C5CEE0;
}
.listing-error-box{
    font-family: sans-serif;
    margin-bottom: 10px;
    margin-left: 5px;
    gap: 10px;
    color: orange;
}
