.surfboard-form {
    background-color: #2f2f2f;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.surfboard-form input, .surfboard-form select, .surfboard-form textarea {
    width: 300px;
    background-color: #1f1f1f;
    border: 1px solid #1f1f1f;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 5px;
    color: white;
    font-size: 20px;
}
.surfboard-form textarea {
    width: 290px;
    resize: none;
    height: 100px;
    font-family: sans-serif;
}
.surfboard-button {
   color: #e1d9c7;
   background-color: #6d668c;
   border: 1px solid #6d668c;
   border-radius: 3px;
   width: 100%;
   margin-top: 10px;
   padding: 5px;
}
.surfboard-button:hover{
    cursor: pointer;
}
.surfboard-button:active{
    background-color: #605980;
    border: 1px solid #695c5c;
}
.surfboard-error-box div{
    font-family: sans-serif;
    color: red;
}
