.surfboard-form {
    background-color: #e1d9c7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.surfboard-form select, .surfboard-form textarea {
    width: 300px;
    background-color: #948A73;
    border: 1px solid #948A73;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 5px;
    color: #FFFDFA;
    font-size: 20px;
}
.surfboard-form select::placeholder, .surfboard-form textarea::placeholder {
    color: #FFFDFA;
}
.surfboard-form textarea {
    width: 290px;
    resize: none;
    height: 100px;
    font-family: sans-serif;
}
.image-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 60px;
    background-color: #948A73;
    border: 1px solid #948A73;
    color: #FFFDFA;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 5px;
}
.image-container > label, .image-container > div{
    font-family: sans-serif;
    color: #FFFDFA;
}
.image-container > div{
    font-size: 12px;
}
.surfboard-button {
    width: 300px;
   color: #e1d9c7;
   background-color: #657394;
   border: 1px solid #657394;
   border-radius: 3px;
   margin-top: 10px;
   padding: 5px;
   cursor: pointer;
}
.surfboard-button:active{
    background-color: #C5CEE0;
    border: 1px solid #C5CEE0;
}
.error-box{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.error{
    color: red;
}
