/* TODO Add site wide styles */
body{
    margin: 0;
}
.whole-page{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #003347;
}
.individual-page{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-image: url('./testing.jpg');
    background-size: 100% 100%;
}
.main-page, .listings-page{
    display: flex;
    flex-direction: column;
    width: 100%;
}
