/* TODO Add site wide styles */
body{
    margin: 0;
}
.main-page, .listings-page{
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url('./site_IMGs/Background_IMG.jpg');
    background-size: 100% 100%;
}
