.sidebar{
    height: calc(100% - 100px);
    width: 200px;
    border: 1px solid #C5CEE0;
    border-radius: 50px;
    flex-shrink: 0;
    margin: 25px 0 0 20px;
    background-color: #FFFDFA;
}
.split{
    height: 4%;
    background-color: #C5CEE0;
}
.listings-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 48%;
}
.rentals-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 48%;
}
.listings-title, .rentals-title{
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}
.listings{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0;
    padding: 0;
}
.listing{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #657394;
    margin: 3px 0px;
}
.listing:hover{
    background-color: #C5CEE0;
}
.listing p{
    margin: 0px 10px;
    padding: 0;
}
