.sidebar{
    height: 100%;
    width: 200px;
    border-right: 1px solid black;
    flex-shrink: 0;
    background-color: #FFFDFA;
}
.listings-container, .rentals-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    overflow-y: scroll;
}
.listings-container::-webkit-scrollbar, .rentals-container::-webkit-scrollbar{
    display: none;
}
.listings-title, .rentals-title{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}
.listings, .rentals{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0;
    padding: 0;
    overflow-y: visible;
}
.listing, .rental{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    color: #657394;
    margin: 3px 0px;
}
.listing:hover, .rental:hover{
    background-color: #C5CEE0;
}
.listing p, .rental{
    margin: 0px 10px;
    padding: 5px 0px;
}
