.sidebar{
    height: 100%;
    width: 250px;
    border-right: 1px solid black;
    flex-shrink: 0;
    background-color: #FFFDFA;
}
.listings-container, .rentals-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
}
.listings-title, .rentals-title{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}
.listings, .rentals{
    display: flex;
    flex-direction: column;
    width: 225px;
    margin: 0;
    padding: 0;
    overflow-y: visible;
    gap: 10px;
    overflow-y: scroll;
}
.listings::-webkit-scrollbar, .rentals::-webkit-scrollbar{
    display: none;
}
.listing{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    color: #657394;
}
.rental{
    text-decoration: none;
    color: #657394;
}
.listing:hover, .rental:hover{
    background-color: #C5CEE0;
}
.listing p, .rental{
    margin: 0px 10px;
    padding: 5px 0px;
}
.board-info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.rental-date{
    margin-left: 45px;
}
