.splash-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-image: url('https://hi-surf-dev.s3.us-west-1.amazonaws.com/splash-page.jpg');
    background-size: 100% 100%;
}
.site-description{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
}
